<h1>Hello <%= @user.first_name + @user.last_name %>,</h1>

<p>Your account has been <strong>deactivated</strong> by the administrator.</p>

<p>If you believe this is a mistake, please contact support.</p>
