<div class="bg-white p-4 m-4" style="min-height: 90vh;">
  <div class="admin-photos">
    <% @photos.each do |photo| %>
      <div class="admin-photos__item">
        <%= image_tag "#{photo.image}", alt: "" %>
        <div class="d-flex align-items-center justify-content-center admin-photos__item--title w-100">
          <span>Lorem ipsum dolor sit amet</span>
          <i class="fa-regular fa-pen-to-square"></i>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item"><a href="#" class="page-link">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <a class="page-link" href="#" aria-current="page">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</div>