<div class="col-2 sidebar">
  <div class="sidebar-list">
    <%= link_to "Manage Photos", admin_photos_path, class: ["sidebar-list__item", ('sidebar-list__item--active' if
      side_bar_pathname?('/admin/photos') || side_bar_pathname_exact?(admin_root_path))] %>
    <%= link_to "Manage Albums", admin_albums_path, class: ["sidebar-list__item", ('sidebar-list__item--active' if side_bar_pathname?('/admin/albums'))] %>
    <%= link_to "Manage Users", admin_users_path, class: ["sidebar-list__item", ('sidebar-list__item--active' if
      side_bar_pathname?('/admin/users'))] %>
  </div>
</div>