<div class="profile">
  <div class="profile-info">
    <div class="profile-info__avatar">
      <%= image_tag "unknown-avatar.png", alt: "Avatar", class: "" %>
    </div>
    <div class="profile-info__content">
      <div class="profile-info__badge">Following</div>
      <div class="profile-info__name">Hansford Nguyen</div>
      <div class="profile-info__tags">
        <div class="profile-info__tags--item">
          <span class="fs-4">108</span>
          <span>PHOTOS</span>
        </div>
        <div class="profile-info__tags--divider"></div>
        <div class="profile-info__tags--item">
          <span class="fs-4">43</span>
          <span>ALBUMS</span>
        </div>
        <div class="profile-info__tags--divider"></div>
        <div class="profile-info__tags--item">
          <span class="fs-4">22</span>
          <span>FOLLOWINGS</span>
        </div>
        <div class="profile-info__tags--divider"></div>
        <div class="profile-info__tags--item">
          <span class="fs-4">13</span>
          <span>FOLLOWERS</span>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-list row g-5">
    <% Array.new(20).each do %>
      <div class="d-flex flex-column align-items-center justify-content-center col gap-2">
        <%= image_tag "sample.jpg", alt: "", class: "rounded" %>
        <span>Photo title goes here</span>
      </div>
    <% end %>
  </div>
</>